/* styles.css */

/* 入力フィールドのスタイル */
#userInput {
  width: 100%; /* 入力フィールドの幅を100%に設定 */
  padding: 12px 20px; /* 入力フィールドの内側の余白を設定 */
  margin: 8px 0; /* 送信ボタンとの間の余白を設定 */
  display: inline-block; /* ブロックレベルの要素として表示 */
  border: 1px solid #ccc; /* 枠線のスタイル */
  box-sizing: border-box; /* ボックスサイズの計算方法を指定 */
}

/* 送信ボタンのスタイル */
#submitButton {
  width: 50%; /* 送信ボタンの幅を50%に設定 */
  padding: 14px 20px; /* ボタンの内側の余白を設定 */
  margin: 8px auto; /* 左右のマージンを自動に設定して中央揃え */
  display: block; /* ブロックレベルの要素として表示 */
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: none; /* 枠線なし */
  cursor: pointer; /* カーソルをポインターに */
}

/* 結果表示エリアのスタイル */
#result {
  width: 100%; /* 幅を100%に設定 */
  padding: 12px 20px; /* 内側の余白を設定 */
  margin-top: 8px; /* 上の余白を設定 */
  border: 2px solid #4CAF50; /* 枠線のスタイル */
  background-color: rgba(255, 255, 255, 0.5); /* 背景色と透明度 */
}

/* メディアクエリを追加 */
@media (max-width: 600px) {
  #submitButton {
    width: 100%; /* 小さなデバイスでの幅を100%に設定 */
  }
}

/* モーダルのスタイル */
.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 画面上に固定 */
  z-index: 1; /* コンテンツの上に表示 */
  left: 0;
  top: 0;
  width: 100%; /* 幅を全体に */
  height: 100%; /* 高さを全体に */
  overflow: auto; /* スクロール可能に */
  background-color: rgba(0, 0, 0, 0.4); /* 背景色 */
}

/* モーダルのコンテンツ */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 中央に表示 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 幅 */
}

/* 閉じるボタン */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 重複するフォントのインポートを削除 */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./IMG_4944.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35; /* ここで透明度を設定 */
  z-index: -1;
}

body {
  font-family: 'Roboto', sans-serif; /* フォントファミリーを指定 */
  font-size: 20px; /* 基本の文字サイズを指定 */
}

h1, h2, h3 {
  font-weight: 700; /* 見出しのフォントウェイトを変更 */
}

p {
  font-size: 20px; /* 段落の文字サイズを指定 */
}
